/* -------------------------------- */
/* Basic Setup */
/* -------------------------------- */


html {
  box-sizing: border-box;
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
}

html,
body {
  overflow-x: hidden;
}

*,
*:before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


.preload a {
  transition: none !important;
}


/* -------------------------------- */
/* Reusable Components */
/* -------------------------------- */


h1,
h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.3rem;
}


h1 {
  font-size: 6.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}


h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
}


h2:after {
  display: block;
  height: 0.2rem;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 3rem auto 3rem;
}


h3 {
  font-size: 2.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}


p {
  font-size: 2rem;
}


a {
  font-size: 2.5rem;
}

section {
  padding: 8rem 0;
}


.row {
  max-width: 120rem;
  margin: 0 auto;
}


/* -------------------------------- */
/* Paragraphs */
/* -------------------------------- */


.long-copy {
  line-height: 2.5rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}


.icon {
  font-size: 5.4rem;
  color: #e67e22;
}




/* -------------------------------- */
/* Feature Boxes */
/* -------------------------------- */


.feature-box {
  padding: 0 1.5rem 0;
  text-align: center;
  margin-top: 4rem;
}

.feature-copy {
  text-align: left;
}


/* -------------------------------- */
/* Buttons */
/* -------------------------------- */


.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 300;
  margin-right: 2rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] { 
  background-color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 5rem;
  color: #fff;
}


.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  border-radius: 5rem;
  color: #e67e22;
}


.btn:hover,
.btn:active,
 input[type=submit]:hover,
input[type=submit]:active { 
  background-color: #ba651b;
  border: 1px solid #ba651b;
}


.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}


/* -------------------------------- */
/* Header */
/* -------------------------------- */


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../resources/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}


.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.nav-bar {
  position: relative;
}


.logo {
  height: 15rem;
  width: auto;
  float: left;
  position: relative;
  margin: 3rem 0 3rem;
}

.main-nav {
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  transition: border 0.2s;
  padding: 0.4rem 0;
}


.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 0.2rem solid #e67e22;
}


/* -------------------------------- */
/* Meals Section */
/* -------------------------------- */

.meals-section {
  padding: 0;
  overflow: auto;
}

figure {
  line-height: 0;
  overflow: hidden;
  background-color: #000;
}

.meals-showcase {
  list-style: none;
  width: 100%
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-image {
  opacity: 0.8;
  width: 100%;
  margin: 0;
  transform: scale(1.3);
  transition: transform 0.7s, opacity 0.7s;
}

.meal-image:hover {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.7s, opacity 0.7s;
}

.features-section .long-copy {
  margin-bottom: 2rem;
  margin-top: 4rem;
}


/* -------------------------------- */
/* How Section */
/* -------------------------------- */


.how-section {
  background-color: #f4f4f4;
}

.step-box:first-child {
margin-top: 4rem;
text-align: right;
padding-right: 6rem;
}

.step-box:last-child {
margin-top: 12rem;
padding-left: 6rem;
}

.app-screen {
  width: 30rem;
}

.step {
  margin-bottom: 8rem;
}

.step div {
  color: #e67e22;
  border: 0.2rem solid #e67e22;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  text-align: center;
  font-size: 3rem;
  float: left;
  margin-right: 3rem;
  padding: 1.4rem;
}

.step:last-of-type {
  margin-bottom: 10rem;
}

.btn-app img {
height: 6rem;
width: auto;
margin-right: 2rem;
}

.app-buttons {
  text-align: center;
}

.btn-app:hover,
.btn-app:active {
  opacity: 0.7;
}


/* -------------------------------- */
/* Cities Section */
/* -------------------------------- */


.cities-section {
  background-color: #fff;
}

.cities-row {
  margin-top: 4rem;
}

.city-box a {
  text-decoration: none;
  font-size: 2rem;
}

.city-box p {
  margin: 0 10%;
}

.city-photo-box {
  text-align: center;
}

.city-photo-box img {
  width: 80%;
  height: auto;
}

.city-box a:link,
.city-box a:visited {
  color: #555;
}

.city-box a:hover,
.city-box a:active {
  color: #e67e22;
}

.cities-icon {
  float: left;
  margin-right: 0.8rem;
  color: #e67e22;
}


/* -------------------------------- */
/* Testimonials Section */
/* -------------------------------- */


.testimonials-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resources/back-customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

blockquote {
  font-size: 2rem;
  padding: 0 3rem 0;
  margin-top: 4rem;
  font-style: italic;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 4rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

blockquote:after {
  content: "\201D";
  font-size: 4rem;
  display: block;
  position: absolute;
  right: 3rem;
  bottom: -2rem;
}

cite {
  font-size: 1.6rem;
  display: block;
}

cite img {
  border-radius: 50%;
  width: 10rem;
  height: auto;
  vertical-align: middle;
  margin: 2rem;
}


/* -------------------------------- */
/* Plans Section */
/* -------------------------------- */


.plans-section {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5%;
  width: 90%;
  margin-left: 5%;
  margin-top: 4rem;
  box-shadow: 0 0.4rem 0.4rem #ededed;
}

.plan-box div {
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.plan-box ul {
  list-style: none;
  font-size: 2rem;
}

.plan-box li {
  padding: 0.5rem 0;
}

.plan-box div:first-child {
 background-color: #fcfcfc;
 border-radius: 5%;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 8rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #e67e22;
}

.plan-price span {
  font-size: 2.5rem;  
  font-weight: 400;
}

.price-meal {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.plans-icon {
  float: left;
  margin-right: 0.8rem;
  color: #e67e22;
}


/* -------------------------------- */
/* Contact Section */
/* -------------------------------- */


.contact-section {
  background-color: #fff;
}

.form-container {
  width: 60%;
  margin-top: 4rem auto auto 0;
  font-size: 2rem;
  line-height: 6rem;
}

input[type=text], input[type=email], select, textarea { 
 width: 100%;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
}

/* input, select, textarea {
  margin-left: 3%;
} */

textarea {
  height: 10rem;
  margin-top: 1.5rem;
}

input[type=checkbox] {
  margin-right: 1rem;
}

input[type=submit] {
  cursor: pointer;
}

*:focus {
  outline: none;
}


/* -------------------------------- */
/* Footer Section */
/* -------------------------------- */


footer {
  padding: 8rem 0 4rem;
  background-color: #353535;
  color: #777;
  font-size: 1.8rem;
  font-weight: 300;
}


.copyright {
  text-align: center;
  margin: 4rem auto;
}


.footer-nav li {
  list-style: none;
  float: left;
  margin-right: 4rem;
}


.footer-socials li {
  list-style: none;
  float: right;
  margin-left: 4rem;
}

footer li a:link,
footer li a:visited {
color: #777;
text-decoration: none;
transition: color 0.2s;
}

.footer-nav li a {
  font-size: 2rem;
}

.footer-socials li a {
  font-size: 3rem;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #e67e22;
}

ion-icon {
  transition: color 0.2s;
}

ion-icon[name=logo-googleplus]:hover,
footer li a:active {
  color: #db4437;
}

ion-icon[name=logo-twitter]:hover,
footer li a:active {
  color: #1da1f2;
}

ion-icon[name=logo-instagram]:hover,
footer li a:active {
  color: #c32aa3;
}

ion-icon[name=logo-facebook]:hover,
footer li a:active {
  color: #1877f2;
}

